name: Test .NET

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/**'
      - '**/*.Sdk.TypeScript/**'
  workflow_call:

env:
  SOLUTION: ./Neuroglia Framework.sln

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['8.0.x' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}


      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Restore dependencies
        run: dotnet restore "${{ env.SOLUTION }}"

      - name: Test
        run: dotnet test "${{ env.SOLUTION }}" --no-restore --verbosity normal
